:root {
    --screen-bg-color-uno: #363535;
    --screen-bg-color-dos: #232323;
    --screen-bg-color-border: #dedede;
    --box-shadow-buttons-color: #232323;
    --main-bg-color: #dc0a2d;
    --main-bg-color-shadow-uno: #c40827;
    --main-bg-color-shadow-curves:#790303; 
    --secondary-bg-color: #ffffff;
    --blue-buttons-color-uno: #285afd;
    --blue-buttons-color-dos: #384ff9;
    --blue-buttons-color-shadow: #014766;
    --blue-cristal-color-uno: #39758f;
    --blue-cristal-color-dos: #05fbfb;
    --red-miniButton-glass-color-uno:#bf0625 ;
    --red-miniButton-glass-color-dos:#f90505 ;
    --yellow-miniButton-glass-color-uno: #dcc113 ;
    --yellow-miniButton-glass-color-dos:#f9f905;
    --green-miniButton-glass-color-uno:#327439 ;
    --green-miniButton-glass-color-dos:#4ff905 ;
    --red-barButton-color-uno:#8b0000 ;
    --red-barButton-color-dos:#fb6505 ;
    --black-color: black;
    --screenon: #7eaddf;
    --buttons-right : #1a8fcc;
    --screen-name:#3ab967;
    --white-font: #e7e1da ;
  }

*{
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
	font-family: 'Press Start 2P', cursive;
}
img{
	width: 100%;
}
header{
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
}
header>img{
    width: 20%;
}
.pokedex{
    position: relative;
    width: 900px;
    height: 500px;
    /* background-color: red; */
    background-image: url('./assets/img/pokedex.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
div#buttonGlass
	{   position: absolute;
		width: 60px;
		height: 60px;
		margin-right: 15px;
		border: 5px solid  var(--secondary-bg-color);
		/* float: left; */
        top: 13px;
        left: 100px;

		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		
		background: radial-gradient(var(--blue-cristal-color-dos), var(--blue-cristal-color-uno));
		background: -webkit-radial-gradient(var(--blue-cristal-color-dos), var(--blue-cristal-color-uno));
		border-radius: 35px;
		-webkit-border-radius: 35px;
		-moz-border-radius: 35px;
	   	-o-border-radius: 35px;
	}
    div#reflect
	{
		width: 30px;
		height: 18px;
		margin: 3px 0 0 15px;
		background:  var(--secondary-bg-color);
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}
    div#reflect1
	{   position: absolute;
        top: -1px;
        right: 5px;
		width: 7px;
		height: 5px;
		margin: 3px 0 0 15px;
		background:  var(--secondary-bg-color);
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}
    div#reflect2
	{   position: absolute;
        top: -1px;
        right: 5px;
		width: 7px;
		height: 5px;
		margin: 3px 0 0 15px;
		background:  var(--secondary-bg-color);
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}
    div#reflect3
	{   position: absolute;
        top: -1px;
        right: 5px;
		width: 7px;
		height: 5px;
		margin: 3px 0 0 15px;
		background:  var(--secondary-bg-color);
		opacity: 0.6;

		border-radius: 15px 9px;
		-webkit-border-radius: 15px 9px;
		-moz-border-radius: 15px 9px;
	   	-o-border-radius: 15px 9px;
		        
	}
    div#miniButtonGlass1{
        position: absolute;
        top: 13px;
        left: 175px;
		width: 15px;
		height: 15px;
		/* margin-right: 10px; */
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-uno));
		background: -webkit-radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-uno));

	}
    div#miniButtonGlass2{
        position: absolute;
        top: 13px;
        left: 200px;
		width: 15px;
		height: 15px;
		/* margin-right: 10px; */
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--yellow-miniButton-glass-color-dos), var(--yellow-miniButton-glass-color-uno));
		background: -webkit-radial-gradient( var(--yellow-miniButton-glass-color-dos), var(--yellow-miniButton-glass-color-uno));

	}
    div#miniButtonGlass3{
        position: absolute;
        top: 13px;
        left: 225px;
		width: 15px;
		height: 15px;
		/* margin-right: 10px; */
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--green-miniButton-glass-color-dos), var(--green-miniButton-glass-color-dos));
		background: -webkit-radial-gradient( var(--green-miniButton-glass-color-dos), var(--green-miniButton-glass-color-uno));

	}
    div#miniButtonGlassScreen{
        /* position: absolute; */
        
		width: 7px;
		height: 7px;
		/* margin-right: 10px; */
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-dos));
		background: -webkit-radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-uno));

	}
    div#bigButtonGlassScreen{
        /* position: absolute; */
        position: absolute;
        top: 214px;
        left: 40px;
		width: 15px;
		height: 15px;
		/* margin-right: 10px; */
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-dos));
		background: -webkit-radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-uno));

	}
    div.miniButtonsScreen{
        position: absolute;
        bottom: 217px;
        display: flex;
        gap: 10px;
        }

    /* screen parte izquierda */
    div#screen
	{   position: relative;
        /* overflow: hidden; */
		height: 235px;
		width: 235px;
        display: flex;
        justify-content: center;
        align-items: center;
		/* padding: 0 20px; */
		background-color: var(--screen-bg-color-border);
		/* float:left; */
		position: absolute;
		top: 120px;
		left: 123px;
        border: 2px solid var(--screen-bg-color-dos);
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
        border-bottom-left-radius: 40px 40px;
	}
    div#picture
	{
        overflow: hidden;
        position: relative;
        opacity: 1;
		transition: all 1s ease-in-out;
		display: flex;
		height: 180px;
		width: 180px;
		background-color:  var(--screen-bg-color-dos);
		border: 3px solid var(--screen-bg-color-dos);
		clear: both;
		border-radius: 15px;
		/* -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px; */
	}
	/* .sad-face{
		transition: all 3s ease-in-out;
	} */
	
    #picturebox{
		opacity: 0;
        display: flex;
        text-align: center;
        transition: all 1s ease-in-out;
        width: 100%;
    }
    #picturebox>img.animada{
        transition: all 1s ease-in-out;
    }
    #picture>#splash{
        position: absolute;
        top: 50px;
        transform: translateX(-190px);
    
    }
    /* #picture>img.splash{
        transform: translateX(200px);
      
    } */
    @keyframes pokemon{ 
        from {
            transform: translateX(-200px);
          }
        
          to {
            transform: translateX(200px);
          }
    }
    div#picture.onoff{
        background-color: var(--screenon);
    }
    div#onOffButton.onoff{
        background: radial-gradient( var(--green-miniButton-glass-color-dos), var(--green-miniButton-glass-color-uno));
		background: -webkit-radial-gradient( var(--green-miniButton-glass-color-dos), var(--green-miniButton-glass-color-uno));
    }

    div#speakers
	{
		/* display: flex; */
        position: absolute;
        top: 204px;
        left: 80px;
		width: 25px;
		height: 35px;
		/* margin-right: 1px; */
        bottom: 5px;
	}

	div.sp
	{
		height: 3px;
		margin-bottom: 2px;
		background-color: var(--screen-bg-color-dos);

		border-radius: 30px;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-o-border-radius: 30px;
	}
    .bottomScreen{
        position: absolute;
        top: 370px;
        left: 120px;
        display: flex;
        align-items: center;
        gap: 22px;
    }
    div.buttonsBotomScreen{
        /* position: absolute; */
        display: flex;
        gap: 10px;
    }
    div#barbutton1
	{
		height: 7px;
		width: 35px;
		/* position: absolute; */
		/* top: 390px; */
		/* left: 100px; */

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, var(--red-miniButton-glass-color-dos) 0%, var(--red-miniButton-glass-color-uno) 100%);	
		background: -webkit-linear-gradient(top, var(--red-miniButton-glass-color-dos) 0%, var(--red-miniButton-glass-color-uno) 100%);
		/* background: -moz-linear-gradient(top, #50fb05 0%, var(--blue-buttons-color-uno) 100%);
		background: -o-linear-gradient(top, #50fb05 0%, var(--blue-buttons-color-uno) 100%); */

		box-shadow: -1px 2px var(--box-shadow-buttons-color);
		-webkit-box-shadow: -1px 2px var(--box-shadow-buttons-color);
		/* -moz-box-shadow: -1px 2px var(--box-shadow-buttons-color);
		-o-box-shadow: -1px 2px var(--box-shadow-buttons-color); */
	}
    div#barbutton2
	{
		height: 7px;
		width: 35px;
		/* position: absolute; */
		/* top: 390px; */
		/* left: 100px; */

		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, var(--blue-buttons-color-dos) 0%, var(--blue-buttons-color-uno) 100%);	
		background: -webkit-linear-gradient(top, var(--blue-buttons-color-dos) 0%, var(--blue-buttons-color-uno) 100%);
		/* background: -moz-linear-gradient(top, #50fb05 0%, var(--blue-buttons-color-uno) 100%);
		background: -o-linear-gradient(top, #50fb05 0%, var(--blue-buttons-color-uno) 100%); */

		box-shadow: -1px 2px var(--box-shadow-buttons-color);
		-webkit-box-shadow: -1px 2px var(--box-shadow-buttons-color);
		/* -moz-box-shadow: -1px 2px var(--box-shadow-buttons-color);
		-o-box-shadow: -1px 2px var(--box-shadow-buttons-color); */
	}
    
    div#onOffButton{

        transition: all 1s ease-in-out;
        cursor: pointer;
		width: 30px;
		height: 30px;
		/* margin-right: 10px; */
		
        border: 1px solid var(--screen-bg-color-dos);
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 30px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		
		background: radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-dos));
		background: -webkit-radial-gradient( var(--red-miniButton-glass-color-dos), var(--red-miniButton-glass-color-uno));

	}
    div.pantallaCursor{
        position: absolute;
        top: -20px;
        left: 57px;
        display: flex;
        align-items: center;
	
    }
    div#greenBox1
	{
		width: 110px;
		height: 40px;
		z-index: 1;
		background-color: var(--screen-name);
        text-align: center;
        line-height:40PX ;
		position: absolute;
		top: 420px;
		left:100px;
        font-size: 0.6rem;
        color: var(--box-shadow-buttons-color);
        

		border-radius: 6px;

		box-shadow: 0 0 20px var(--green-miniButton-glass-color-uno) inset;
		-webkit-box-shadow: 0 0 20px var(--green-miniButton-glass-color-uno) inset;
	}

    div#cross
	{
		width: 90px;
		height: 90px;
		position: absolute;
		top: 394px;
		left: 230px;
	}

	div#topcross
	{
		width: 30px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);

		position: absolute;
		top: 0;
		left: 30px;

		box-shadow: -3px 2px var(--black-color);
		-webkit-box-shadow: -3px 2px var(--black-color);
		-moz-box-shadow: -3px 2px var(--black-color);
		-o-box-shadow: -3px 2px var(--black-color);

		border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-o-border-top-left-radius: 5px;

		border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-o-border-top-right-radius: 5px;
	}

	div#leftcross
	{
		width: 30px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
		z-index: 1;
        cursor: pointer;
		position: absolute;
		left: 0;
		top: 30px;

		box-shadow: -3px 2px var(--black-color);
		-webkit-box-shadow: -3px 2px var(--black-color);
		-moz-box-shadow: -3px 2px var(--black-color);
		-o-box-shadow: -3px 2px var(--black-color);

		border-top-left-radius: 5px;
		-webkit-border-top-left-radius: 5px;
		-moz-border-top-left-radius: 5px;
		-o-border-top-left-radius: 5px;

		border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-o-border-bottom-left-radius: 5px;
	}

	div#midcross
	{
		width: 30px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);

		position: absolute;
		top: 30px;
		left: 30px;

		box-shadow: -3px 2px var(--black-color);
		-webkit-box-shadow: -3px 2px var(--black-color);
		-moz-box-shadow: -3px 2px var(--black-color);
		-o-box-shadow: -3px 2px var(--black-color);
	}

	div#rightcross
	{
		width: 30px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
        cursor: pointer;
		position: absolute;
		top: 30px;
		right: 0;

		box-shadow: -3px 2px var(--black-color);
		-webkit-box-shadow: -3px 2px var(--black-color);
		-moz-box-shadow: -3px 2px var(--black-color);
		-o-box-shadow: -3px 2px var(--black-color);

		border-top-right-radius: 5px;
		-webkit-border-top-right-radius: 5px;
		-moz-border-top-right-radius: 5px;
		-o-border-top-right-radius: 5px;

		border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-o-border-bottom-right-radius: 5px;
	}

	div#botcross
	{
		width: 30px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);

		position: absolute;
		bottom: 0;
		left: 30px;

		box-shadow: -3px 2px var(--black-color);
		-webkit-box-shadow: -3px 2px var(--black-color);
		-moz-box-shadow: -3px 2px var(--black-color);
		-o-box-shadow: -3px 2px var(--black-color);

		border-bottom-left-radius: 5px;
		-webkit-border-bottom-left-radius: 5px;
		-moz-border-bottom-left-radius: 5px;
		-o-border-bottom-left-radius: 5px;

		border-bottom-right-radius: 5px;
		-webkit-border-bottom-right-radius: 5px;
		-moz-border-bottom-right-radius: 5px;
		-o-border-bottom-right-radius: 5px;
	}

	/* RIGHTSIDE */

	.rightside{
		width: 50%;
		height: 50%;
		position: relative;
		top: 115px;
		left: 366px;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	div#stats
	{
		height: 80px;
		width: 240px;
		padding-bottom: 100px;
		margin-bottom: 10px;
		background-color: var(--screen-bg-color-uno);
		font-size: 13px;
		font-family: arial, sans-serif;
		border-radius: 15px;
		-webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px;
		border: 1px solid var(--box-shadow-buttons-color);

		box-shadow: 0 0 20px var(--box-shadow-buttons-color) inset;
		-webkit-box-shadow: 0 0 20px var(--box-shadow-buttons-color) inset;

	}
	div#blueButtons{
		display: flex;
		flex-direction: column;
		gap: 3px;
		margin-bottom: 30px;
	}
	div.blueButton
	{
		height: 35px;
		width : 45px;
		background-color: var(--box-shadow-buttons-color);
		float: left;
		margin-right: 2px;
		border: 1px solid var(--box-shadow-buttons-color);
		border-radius: 3px;
		background: linear-gradient(top, var(--blue-cristal-color-uno) 0%, var(--blue-buttons-color-dos) 80%);	
		background: -webkit-linear-gradient(top, var(--blue-cristal-color-uno) 0%, var(--blue-buttons-color-dos) 80%);
		/* background: -moz-linear-gradient(top, #307bfb 0%, #0530e5 80%);
		background: -o-linear-gradient(top, #307bfb 0%, #0530e5 80%); */

		box-shadow: -1px 2px var(--blue-buttons-color-shadow);
		-webkit-box-shadow: -1px 2px var(--blue-buttons-color-shadow);
		/* -moz-box-shadow: -1px 2px var(--blue-buttons-color-shadow);
		-o-box-shadow: -1px 2px var(--blue-buttons-color-shadow); */
	}
	
	.barbuttonsright{
		position: absolute;
		top: 195px;
		left: 240px;
		display: flex;
		gap: 10px;
	}
	div#barbutton3
	{
		height: 9px;
		width: 45px;
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, var(--screen-bg-color-uno) 0%, var(--screen-bg-color-dos) 100%);	
		background: -webkit-linear-gradient(top, var(--screen-bg-color-uno) 0%, var(--screen-bg-color-dos) 100%);
		box-shadow: -1px 2px var(--box-shadow-buttons-color);
		-webkit-box-shadow: -1px 2px var(--box-shadow-buttons-color);

	}

	div#barbutton4
	{
		height: 9px;
		width: 45px;
	
		border-radius: 100px;
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		-o-border-radius: 100px;

		background: linear-gradient(top, var(--screen-bg-color-uno) 0%, var(--screen-bg-color-dos) 100%);	
		background: -webkit-linear-gradient(top, var(--screen-bg-color-uno) 0%, var(--screen-bg-color-dos) 100%);
		box-shadow: -1px 2px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: -1px 2px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: -1px 2px var(--main-bg-color-shadow-curves);
		-o-box-shadow: -1px 2px var(--main-bg-color-shadow-curves);
	}
	.nextresumelight{
		display: flex;
		align-items: center;
		gap: 110px;
		margin-bottom: 10px;
	}
	.whiteboxes{
		display: flex;
		gap: 5px;
		
	}
	.btn-stop{
		border: 1px solid var(--box-shadow-buttons-color);
		width: 45px;
		height: 30px;
		background-color: var(--screen-bg-color-border);
		border-radius: 6px;
		box-shadow: 0 0 20px var(--screen-bg-color-border) inset;
		cursor: pointer;
	}
	.btn-resume{
		border: 1px solid var(--box-shadow-buttons-color);
		width: 45px;
		height: 30px;
		background-color: var(--screen-bg-color-border);
		border-radius: 6px;
		box-shadow: 0 0 20px var(--screen-bg-color-border) inset;
		cursor: pointer;
	}
	
	div#miniButtonGlass5
	{	
		border: 1px solid var(--box-shadow-buttons-color);
		width: 25px;
		height: 25px;
		box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-webkit-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-moz-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);
		-o-box-shadow: 0 0 10px var(--main-bg-color-shadow-curves);

		border-radius: 20px;
		-webkit-border-radius: 20px;
		-moz-border-radius: 20px;
		-o-border-radius: 20px;
		
		background: radial-gradient(var(--yellow-miniButton-glass-color-dos), var(--yellow-miniButton-glass-color-uno));
		background: -webkit-radial-gradient(var(--yellow-miniButton-glass-color-dos), var(--yellow-miniButton-glass-color-uno));
		/* background: -moz-radial-gradient(#0abd0a, var(--yellow-miniButton-glass-color-uno));
		background: -o-radial-gradient(#0abd0a, var(--yellow-miniButton-glass-color-uno)); */
	}
	#input-search{
		align-self: right;
        border: none;
        padding: 3px;
        border-radius: 5px ;
        width: 130px;
		margin-bottom: 5px;
    }
	#error-message{
		text-align: center;
		width: 250px;
		font-size: .5rem;
		margin-bottom: 5px;
		color: var(--screen-bg-color-dos);
		/* display: none; */
	}
	div.buttonstopsearch{
		display: flex;
		gap: 15px;
		text-align: center;
	}
	#btn{
		line-height: 30px;
		border: 1px solid var(--box-shadow-buttons-color);
		width: 110px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
		border-radius: 6px;
		cursor: pointer;
		/* -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px; */
		font-size: .9rem;
		font-family: 'Press Start 2P', cursive;
		color: var(--white-font);
		box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		-webkit-box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
	}
	#btn-cancel{
		line-height: 30px;
		border: 1px solid var(--box-shadow-buttons-color);
		width: 110px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
		border-radius: 6px;
		cursor: pointer;
		/* -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px; */
		font-size: .9rem;
		font-family: 'Press Start 2P', cursive;
		color: var(--white-font);
		box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		-webkit-box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
	}

	div#yellowBox1
	{	
		line-height: 30px;
		border: 1px solid var(--box-shadow-buttons-color);
		width: 110px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
		border-radius: 6px;
		cursor: pointer;
		/* -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px; */
		font-size: .9rem;
		font-family: 'Press Start 2P', cursive;
		color: var(--white-font);
		box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		-webkit-box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		/* -moz-box-shadow: 0 0 20px var(--red-barButton-color-dos) inset;
		-o-box-shadow: 0 0 20px var(--red-barButton-color-dos) inset; */
	}

	div#yellowBox2
	{	
		line-height: 30px;
		border: 1px solid var(--box-shadow-buttons-color);
		width: 110px;
		height: 30px;
		background-color: var(--screen-bg-color-dos);
		border-radius: 6px;
		font-size: .9rem;
		color: var(--white-font);
		/* -webkit-border-radius: 15px;
		-moz-border-radius: 15px;
		-o-border-radius: 15px; */
		cursor: pointer;
		box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		-webkit-box-shadow: 0 0 20px var(--screen-bg-color-uno) inset;
		/* -moz-box-shadow: 0 0 20px var(--red-barButton-color-dos) inset;
		-o-box-shadow: 0 0 20px var(--red-barButton-color-dos) inset; */
	}
	.pokeball{
		/* width: 150px; */
		/* height: 150px; */
		scale: .5;
		animation: frames 1.2s  linear 0s infinite;
	}
	.caraTriste{
		scale: .2;
	}
	  
	  /* AnimationFrames */
	  @keyframes frames{
		0% {
		  transform: rotate(0deg);
		}
		100%{
		  transform: rotate(360deg);
		}
	  }
	  @keyframes frames{
		0% {
		  transform: rotate(0deg);
		}
		100%{
		  transform: rotate(360deg);
		}
	  }